html {
	/*background-color: black;*/
}

.feed {
	border: black 1px solid;
	height: 200px;
	width: 200px;
	position: absolute;
}

a {
	display: block;
	height: 20px;
	color: #900;
	text-decoration: none;
	z-index:300;
}
